body{
    background-color: rgb(255, 255, 255);
}

.cabeçalho{
    display: flex;
    justify-content: center;
}
h1{
    font-style: oblique;
    border: 1px solid black;
    border-radius: 7px;
    background: rgb(253, 194, 204);
    padding: 10px;  
}
.meio1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
